[color]
    ui = auto
    diff=true

[alias]
    ci = commit
    st = status
    co = checkout
    b  = branch
    br = branch
    patch = format-patch
    pbr = "!f() { git fetch origin $1; if [ $? -eq 0 ];then git cherry-pick FETCH_HEAD;fi; }; f"
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[rerere]
    enabled = true
[user]
    #email = 578269057@qq.com
    #name = zaixi
	email = liyujiang@axera-tech.com
	name = liyujiang
[core]
    fileMode = false
    excludesfile = ~/.gitignore
    editor = nvim
    pager = less -+F -+X
    safecrlf = true
    autocrlf = false

[diff]
    tool = bc3
[difftool "bc3"]
    cmd = /usr/bin/bcompare \"$LOCAL\" \"$REMOTE\"
[difftool]
    prompt = false

[merge]
    tool = bc3
[mergetool "bc3"]
    cmd = /usr/bin/bcompare \"$LOCAL\" \"$REMOTE\"
[mergetool]
    prompt = false

[push]
    default = simple
[log]
    date = iso
[pager]
    branch = false
#[url "https://ghproxy.com/https://github.com/"]
#    insteadOf = https://github.com/
[https]
	sslverify = false
[http]
	sslverify = false
[safe]
	directory = /home/shenyu/code/bare-metal-v2
